[2014-05-19 22:06] ghost opened #1 "[QUESTION] How long until this is semi-functional?"
Hey,

How long do you think it will be before this project is at least semi-functional or is it already?

Also will this have a PluginAPI and things like that similar to PocketMine-MP?

Thanks.

[2014-05-19 22:42] #1 closed, assigned to nobody

[2014-05-24 22:30] alejzeis opened #5 "Packet 0x07"
Implement packet 0x07

[2014-05-25 16:32] alejzeis opened #6 "Packet 0x06 problem"
The packet sends fine, but the client rejects it instead of sending a 0x07 one.
TODO:
   Look at PocketServer code, and implement that.

[2014-05-25 22:08] #5 closed, assigned to falkirks

[2014-05-26 21:58] #6 closed, assigned to nobody

[2014-05-28 21:59] alejzeis opened #8 "TODO List for next version"
TODO:
  Implement Data packets
  Get a working server (players moving, visible, and placing blocks)

[2014-06-02 01:27] alejzeis opened #10 "ACK problem"
Apparently, there is something wrong with the ACK packets. The client doesn't send another 0x84 packet.

[2014-07-01 22:02] #10 closed, assigned to nobody

[2014-07-01 22:03] #8 closed, assigned to nobody

[2014-07-01 23:54] alejzeis opened #11 "TODO for 0.05"
TODO:
- \- [x] Write skeleton server
- \- [x] Organize Project

Login Packets to be implemented:
- [x] ID_CONNECTED_PING_OPEN_CONNECTIONS (0x01)
- [x] ID_UNCONNECTED_PING_OPEN_CONNECTIONS (0x01c)
- [x] ID_OPEN_CONNECTION_REQUEST_1 (0x05)
- [x] ID_OPEN_CONNECTION_REPLY_1 (0x06)
- [x] ID_OPEN_CONNECTION_REQUEST_2 (0x07)
- [x] ID_OPEN_CONNECTION_REPLY_2 (0x08)
- [ x ] ID_INCOMPATIBLE_PROTOCOL_VERSION

[2014-07-03 01:06] alejzeis opened #12 "Implement 0x01 and 0x01c packets"
Title says all.

[2014-07-03 01:06] #12 closed, assigned to nobody

[2014-07-03 01:07] alejzeis opened #13 "Implement 0x05 to 0x08 packets"
Implement 0x05 to 0x08 packets.

[2014-07-03 23:26] #13 closed, assigned to nobody

[2014-07-04 18:12] #11 closed, assigned to nobody

[2014-07-04 18:17] alejzeis opened #14 "[TODO]: Version 0.1"
Master: [![Build Status](https://travis-ci.org/BlockServerProject/BlockServer.svg?branch=master)](https://travis-ci.org/BlockServerProject/BlockServer)

Level Rewrite: [![Build Status](https://travis-ci.org/BlockServerProject/BlockServer.svg?branch=level-rewrite)](https://travis-ci.org/BlockServerProject/BlockServer)
## Things to be implemented before v0.1.0
- [x] Implement encoding, decoding data

[2014-07-05 23:24] alejzeis opened #16 "Packets sent, but client doesn't receive them."
Client seems to reject packets, all packets showing up correctly in wireshark.

EDIT: Pretty sure this happened: http://i.imgur.com/x0ml8.png

[2014-07-06 17:42] #16 closed, assigned to nobody

[2014-07-10 19:41] alejzeis opened #17 "Confused about ACK packet class"
I don't get what the byte[] buffer constructer wants, or the byte[] numbers.

[2014-07-14 16:33] fe1a opened #20 "Why dont you add:"
You should add an a if statment. So use the MinecraftVersion and if the client has a newer version it should kick you and say "The Server is outdated." Instead of default "Could not connect to server"

[2014-07-14 17:03] #20 closed, assigned to nobody

[2014-07-14 17:21] #17 closed, assigned to nobody

[2014-07-14 18:41] fe1a opened #21 "[Important] Our new website is running"
Our new website is up and running. It's still under construction. If you want to check it out
Go To: blockproject.cu.cc
It'll probably say "Could not connect to website." I will keep it up to date please do not close this.
WebMail: http://webmail.freehostia.com

[2014-07-15 01:34] alejzeis opened #22 "ACK Packet problem"
java.lang.NullPointerException
    at java.util.DualPivotQuicksort.sort(Unknown Source)
    at java.util.Arrays.sort(Unknown Source)
    at net.blockserver.network.raknet.AcknowledgePacket.encode(AcknowledgePacket.java:23)
    at net.blockserver.network.PacketHandler.dhandle(PacketHandler.java:150)
    at net.blockserver.network.PacketHandler.run(PacketHandler.java:125)

[2014-07-15 01:52] #22 closed, assigned to nobody

[2014-07-15 02:00] alejzeis opened #23 "Encoding Packet Problem"
[code]

[2014-07-18 16:32] #23 closed, assigned to nobody

[2014-07-19 02:39] #21 closed, assigned to nobody

[2014-07-19 23:41] alejzeis opened #24 "Weird Packets"
Receiving packets with a PID of 0? Has anyone tested the latest version?

[2014-07-21 22:36] #24 closed, assigned to nobody

[2014-07-21 22:38] alejzeis opened #25 "LevelDB"
Implement LevelDB.

[2014-07-21 22:41] #25 closed, assigned to nobody

[2014-07-25 23:52] alejzeis opened #31 "Duplicate"

[2014-07-25 23:53] #31 closed, assigned to nobody

[2014-08-02 21:55] MalekAlrwily opened #36 "[TODO]: World Gen."
[![Build Status](https://travis-ci.org/BlockServerProject/BlockServer.svg?branch=master)](https://travis-ci.org/BlockServerProject/BlockServer)
Here is To-do tasks for World Generation:
- [ ] Create World class
- [ ] Create world related files
- [ ] Add all world generation methods to Generator class
- [ ] Create FlatGenerator class
- [ ] Load LevelDB.

[2014-08-18 00:29] alejzeis opened #44 "Fix errors in world packages"
Many errors, PLEASE TEST CODE BEFORE UPLOADING!!!! Don't just use github editor, TEST THE CODE.
**Errors:**
- BlockType.java
- Items.java
- DefaultGenerationSettings.java
- Command.java

[2014-08-18 17:36] #44 closed, assigned to nobody

[2014-08-20 03:50] jose-vm opened #50 "Recipes"
I just wanted to make the suggestion to start working on craft recipes. Since I don't have much time this week, I can't start coding them. Any volunteers?

[2014-08-20 03:54] #50 closed, assigned to nobody

[2014-08-21 23:41] alejzeis opened #54 "NOTICE: World Management needed."
Hello everyone,

As you may of noticed, I haven't commited for a while. Wonder why? Well, WE SHOULD NOT BE WORKING ON WORLD GEN!!! We need world READING, So we can at least get our player to spawn. Once we get that world data loaded, we can send those chunks (Me and @InusualZ will work on that), to the client, thus completing version 0.1.

Thank you for your time,
- jython234

[2014-08-22 05:16] PEMapModder opened #56 "Uniform coding style"
Obviously, the current coding style is messy. Examples are redundant `this.`, irregular spaces and indents, irregular newlines, etc. As a quality project, we have to fix that when we have time.

[2014-08-22 20:17] #54 closed, assigned to nobody

[2014-08-22 20:20] alejzeis opened #58 "Duplicate Player.java"
I noticed two player.java, should we delete the one in the root of the project?

[2014-08-24 01:00] #58 closed, assigned to nobody

[2014-08-24 21:48] alejzeis opened #62 "PEMapModder's commits"
Hey @PEMapModder, just wanted to let you know that to please run the code before pushing.
Also, the server.getInstance() stuff isn't working, my latest commit fixed everything.

[2014-08-25 13:24] #62 closed, assigned to nobody

[2014-08-26 17:43] alejzeis opened #63 "URGENT: ChunkSending"
Since @InusualZ is gone, we need to get this done with... NOW.
I would like everyone to help out, because this is probably the hardest part so far. Not sure where to start? Ask @Intyre, he says "read pocketmine source".

[2014-08-26 18:08] alejzeis opened #64 "[BUG]: Can not set cords of YPSControlledVector3d directly"
Error dump:

[code]

The error happens when a client connects to the server, thus creating a new Player Object. The server then crashes.

Reported by: jython234

[2014-08-26 18:24] #63 closed, assigned to nobody

[2014-08-27 01:47] alejzeis opened #67 "[BUG]: Can not send minecraft packets"
Error dump:

[code]

Reported by: jython234
Happens when server replies to 0x09, actually It can't.

[2014-08-27 01:50] #64 closed, assigned to nobody

[2014-08-28 16:27] #67 closed, assigned to nobody

[2014-08-28 16:29] alejzeis opened #69 "[BUG]: Server.getDefaultLevel() is not initialized."
Error dump:

[code]

Reported by: jython234
Minor error, the server continues to run, will be on Normal Priority.

[2014-08-29 00:57] #56 closed, assigned to nobody

[2014-08-29 02:34] alejzeis opened #70 "[BUG]: NACK queue modifyied from multiple threads"
Error dump:

[code]

[2014-09-04 22:18] MalekAlrwily opened #74 "[TODO]: Support Multiple Languages"
Hi team,

We need to support multiple languages for BlockServer.

It will help us to show the labels in the user language.

Best regards,
Malek AL-Rwily

[2014-09-06 03:30] fe1a opened #75 "Please watch the video"
Why is that happening https://www.youtube.com/watch?v=0coFvPuNw-4&feature=youtu.be
I am talking to @jython234 and @Comedyman937 Its really weird.

[2014-09-06 03:54] #75 closed, assigned to alejzeis

[2014-09-07 15:46] fe1a opened #76 "Help I am trying to run the dev version"
Hey Guys I tried running ./start.sh but it says -bash: ./start.sh: /bin/bash^M: bad interpreter: No such file or directory. I used chmod 755 start.sh and runned it via ./start.sh AND sh start.sh
![screen shot](https://cloud.githubusercontent.com/assets/8142960/4178767/0fb2ea90-36a6-11e4-94e8-96036330c1e9.png)

[2014-09-07 17:47] #76 closed, assigned to nobody

[2014-09-07 18:56] #70 closed, assigned to nobody

[2014-09-07 18:57] #69 closed, assigned to MalekAlrwily

[2014-09-07 18:58] alejzeis opened #77 "Fix Travis Builds..."
@PEMapModder,
You need to compile that jar of the library with all dependencies, then place it in the "lib" folder.

[2014-09-09 00:17] #77 closed, assigned to PEMapModder

[2014-09-16 10:52] PEMapModder opened #80 "[EMERGENCY] The license must be changed."
MrARM just reminded us on `#mcpedevs` that the MIT license only protects the code, but the products made from it (like the binaries distributed) can be redistributed without any credit given according to the license.

[2014-09-17 01:21] alejzeis opened #82 "[BUG]: Scheduler problems."
Error dump:

[code]

Reported on Wednesday, September 17, 8:22 PM CST.
Reported by: jython234

[2014-09-17 01:28] alejzeis opened #83 "[BUG]: Weird repeating login thing."
Apparently, the console is spammed with Exceptions from #82, and this:

[code]

This means that there is something wrong with the login handling (duplicate Login Packets?)
However, I can not fix this until #82 is fixed.
## UPDATE:

Here is a complete dump:

[code]

[2014-09-17 11:15] #80 closed, assigned to alejzeis

[2014-09-17 11:21] PEMapModder opened #84 "ChatPacket is not sent from client."
According to https://github.com/PocketMine/PocketMine-MP/blob/master/src/pocketmine/network/protocol/ChatPacket.php, ChatPackets are not sent from clients. Therefore, that mechanism of decoding ChatPackets should be removed.

[2014-09-17 11:33] #82 closed, assigned to PEMapModder

[2014-09-17 12:12] #83 closed, assigned to nobody

[2014-09-18 23:21] #84 closed, assigned to alejzeis

[2014-09-27 22:47] alejzeis opened #90 "I'm Sorry..."
I'm Sorry:

Hello everyone :/,

Today I tried to do chunk sending, and found out that some parts of the packet are in a "NibbleArray", like a byte array, except each value is 4 bits. I tried, but there is no library for it, and I have no idea about bit operations. The truth is, I shouldn't be writing a server. I have no knowledge about this stuff. Maybe someone can figure this out, but I now say t

[2014-09-27 22:54] #90 closed, assigned to PEMapModder

[2014-09-29 10:23] PEMapModder opened #92 "ConcurrentModificationException thrown on player duplication"
[code]

The above console log is shown to reproduce the issue.

[2014-09-29 10:27] #92 closed, assigned to PEMapModder

[2014-09-29 10:34] PEMapModder opened #93 "BufferUnderflowException when parsing an InternalPacket"
[code]
### Note: this is tested at the current build of the `level-rewrite` branch.

[2014-10-06 02:46] DefinitlyEvil opened #94 "Duplicate Packet?"
When I join the server, sometimes it will spam same packets. For example, I send one chat message and it shows thousands of messages on the server.

[2014-10-07 00:24] alejzeis opened #95 "Dual players, when only one real client is connected"
In the pause menu, two jython234's appear. I will try to resolve this soon.

[2014-10-07 00:42] #95 closed, assigned to alejzeis

[2014-10-07 01:06] alejzeis opened #96 "Level Rewrite TODO"
Level Rewrite: [![Build Status](https://travis-ci.org/BlockServerProject/BlockServer.svg?branch=level-rewrite)](https://travis-ci.org/BlockServerProject/BlockServer)
# TODO:
- [ ] Implement level saving
  - [ ] Anvil format
  - [x] BlockServer level format
- [x] Implement FullChunkData Packet
- [ ] Implement Flat World Generator.

[2014-10-07 01:09] #93 closed, assigned to nobody

[2014-10-07 03:05] fe1a opened #97 "Chat Problem/Player Leave Problem/Game Crash Problem"
When a Player leaves I get a error saying ip:port is missing Here it is....

[2014-10-07 12:55] #96 closed, assigned to PEMapModder

[2014-10-09 00:29] fe1a opened #99 "New Logo?"
Before @PEMapModder Goes closing my issue I need to ask @jython234 Can we change our logo

![image](https://cloud.githubusercontent.com/assets/8142960/4569519/626e8fba-4f4b-11e4-8fc8-8b6e1563f74b.png)

[2014-10-09 09:33] #99 closed, assigned to nobody

[2014-10-11 07:58] #97 closed, assigned to nobody

[2014-10-18 06:40] PEMapModder opened #101 "Thread-safe operations"
The current threading is very dangerous. Schedules are run at the scheduler thread, player-sent things are run at the packet handler thread, and console operations are run at the console handler thread. Don't you think it is thread-unsafe?

[2014-10-18 21:40] alejzeis opened #102 "Push to first release"
Hello everyone,

With the arrival of #100, I decided to test it out. The results were amazing. A world of flat grass was laid out in front of me! Also a bunch of spam was laid out in front of me:

[code]

Just to let everyone know, the next step is to fix conflicts, then merge. After that I would like to implement block placing, and fix BSL. I would also like to say sorry that I have not been push

[2014-10-19 14:54] PEMapModder opened #103 "Fix wrong dyes"
Dyes are not colors. Fix it at Dye.java

[2014-10-21 21:18] alejzeis opened #104 "RFC 1: New project"
Hello everyone,

Some of you may or may not agree with this, but one advantage that pocketmine has over us is BigBrother. I suggest that we create something like it, except a proxy for PC to PE connections.

[code]

Please comment below if you would like this project to be started under the organization of BeaconPE.

[2014-10-21 21:31] #104 closed, assigned to nobody

[2014-10-25 07:44] DefinitlyEvil opened #106 "Please Let Me Join The Project"
Hi,
please let me join this project please.
since I accidently deleted my dragonet files(unable to recover), I wanna concentrate on your project.
Here what I'm gonna do:
1: try to implement more things
2: try to add Minecraft PC support(maybe)

[2014-10-25 08:12] #106 closed, assigned to nobody

[2014-10-25 16:26] #102 closed, assigned to nobody

[2014-11-01 21:39] alejzeis opened #107 "[TODO]: 2014"
# TODO before 2015:

All Tasks in order of importance, and time.
1. Finish Level rewrite (Finish level saving, then merge).
2. Fix any bugs the merge may have caused.
3. Release 0.1, if ready (Team vote)

Please comment below on your thoughts, also please add anything else you think we should add here.
- jython234

[2014-11-02 17:49] alejzeis opened #108 "Chunks not sending on level-rewrite?"
Hello everyone,

Chunks do not seem to be sending on the latest level-rewrite build, Did something change that I haven't heard of?

[2014-11-02 18:03] #108 closed, assigned to nobody

[2014-11-02 18:04] alejzeis opened #109 "Fix dummy playerdata, and INIT A REAL LEVEL!"
[code]

Seriously, we are working on custom flat levels, and not focusing on getting things to WORK?

[2014-11-03 01:39] #109 closed, assigned to nobody

[2014-11-16 22:04] alejzeis opened #110 "RFC 2: Rewrite"
Hello everyone,

Me and @PEMapModder talked over IRC, and decided that we don't see a bright future with the current repo. We came up with a plan for a total rewrite of the software (well not totally, we would copy over all the packet code, and core networking). However, this is a team effort, so we should put this up for people to vote.

Please comment below on your opinion, and to cast your vote

[2014-11-18 22:39] alejzeis opened #111 "RFC 3: Rewrite, how to approach?"
Hello everyone,

As you all know, RFC 2 has been passed ( #110). Now we must decide how we will approach the rewrite. This will not be a vote, just a discussion. I will upload a skeleton of the software to the new repo (https://github.com/BlockServerProject/BlockServer-source).

A few things are clear, however:
- We will be using Maven to handle our dependencies.
- We may/or may not rewrite the ne

[2014-11-18 22:39] #110 closed, assigned to nobody

[2014-11-19 10:38] #14 closed, assigned to PEMapModder

[2014-11-19 10:38] #36 closed, assigned to nobody

[2014-11-19 10:38] #74 closed, assigned to nobody

[2014-11-19 10:38] #94 closed, assigned to nobody

[2014-11-19 10:38] #101 closed, assigned to nobody

[2014-11-19 10:38] #103 closed, assigned to PEMapModder

[2014-11-19 10:38] #107 closed, assigned to nobody

[2014-11-19 10:56] PEMapModder opened #112 "TODO list for current version"
Curent version: beta 1.0.0

Code level:
- [x] Basic structure of starting a new `Server` instance
- [x] Scheduling (ServerTicker) system
- [ ] Dynamic protocol registration
  - [ ] MCPE protocol
    - [x] RakNet packets
      - [x] Unconnected and advertizement packets (0x01, 0x02, 0x1C, 0x1D)
      - [x] Open connection conversation (0x05, 0x06, 0x07, 0x08)
      - [x] Packet encapsulation format

[2014-11-20 01:56] alejzeis opened #113 "System.nanoTime() returns negative values sometimes."
Error dump:

[code]

Proof can be found here: https://docs.oracle.com/javase/7/docs/api/java/lang/System.html#nanoTime()
I temporarily switched System.nanoTime() to System.currentTimeMillis() to prevent the error from happening.

[2014-11-20 12:31] DefinitlyEvil opened #114 "Client Socket Thread Pooling"
Um, I have to say the following text is just my personal idea but it might be useful.
  Currently BlockServer creates a thread for each UDP connection and I think it may increase the usage of CPU and memory because of thread switching on CPU level and each thread will take about 1 mb memory. So maybe you wanna use thread pool. You can create a ScheduledExecutorService class which is a thread pool

[2014-11-20 13:31] #114 closed, assigned to nobody

[2014-11-20 23:47] alejzeis opened #115 "Massive protocol restructure!?"
Just tested BlockServer with 0.10.0. What I discovered is really weird. Using wireshark, I found out that the only packets being sent are just pings, and yet while the server still shows up in response, there are NO response packets sent! (MCPE Vanilla of course). I have a wireshark dump here: https://drive.google.com/file/d/0B-XjWjitgIiyc3N4ckNJQkNCNHc/view?usp=sharing.

Thanks guys.

[2014-11-22 09:03] DefinitlyEvil opened #117 "Creating An API Library and let BlockServer Implements It (Important)"
I just found out a serious thing should be solved. You see CraftBukkit is an implementation of Bukkit. And Bukkit is just a library filled with Java interfaces and CraftBukkit just implemented those interfaces. They design like this is because the plugins people made can only support one bukkit version but can support various CraftBukkit version. And a well-designed API (a interface level structur

[2014-11-22 09:17] #117 closed, assigned to nobody

[2014-11-29 23:30] #115 closed, assigned to alejzeis

[2014-11-30 06:53] #111 closed, assigned to nobody

[2014-11-30 07:32] PEMapModder opened #118 "RFC #4: Plugin API"
Introduction
===
It is generally believed that plugins are an inalienable part of modern Minecraft servers. Although it is still too early to start on the plugin API, it is sensible to start discussing about the API.

Agenda
===
The discussion comprises 3 sections.

## Section 1: Suggestion
The first section lasts for 72 hours, starting from this RFC is submitted. The first section will allow part

[2014-11-30 20:54] alejzeis opened #119 "Still not receiving packets"
Just tested a copy of BlockServer, and we are not receiving packets. It seems like an issue with the scheduler, something I do not understand, especially with the structure of the networking.

[2014-12-01 10:08] #113 closed, assigned to PEMapModder

[2014-12-02 22:55] #119 closed, assigned to PEMapModder

[2014-12-03 10:45] PEMapModder opened #120 "Weekly meeting"
We plan to meet on IRC `#blockserverproject` every Sunday at UTC time around 3:00 to 7:00 a.m. (we won't met all those hours, just around that time)

This issue is here for reference on what had been discussed and what will be discussed. Everyone can join and talk, but main developers are strongly encouraged to attend. This is to increase and improve communication, reflect on each other's progress

[2014-12-11 23:33] jython234 opened #121 "Encapsulation Packet Decoding problems"
Hello everyone,

Today I pulled BlockServer, and decided to run it to see what our status was. After fixing a few bugs, I found out that the encapsulation code's reading of the packet's length was wrong. The value turned out to be negative, which threw an exception when trying to initialize the array. Why this happens I am not sure, because this has never happened before, and the reading code is c

[2014-12-14 20:12] alejzeis opened #122 "RakNet 0x05-0x06 failure."
Hello everyone!

More bad news :-1:...
Today I did some more debugging, hoping to work more on encapsulation, but now I can't even get past the raknet connection! We reply with 0x06 but it just keeps on going, almost like I never send 0x06. Wireshark shows the packet fine, and I even tried with pocketmine, build 855. That didn't even work either! But then I can connect to my private server on an a

[2014-12-16 15:40] #122 closed, assigned to nobody

[2014-12-19 15:00] DefinitlyEvil opened #123 "Splitted Encapsulated Packet Encoding Problem"
in the file:
`/src/main/java/org/blockserver/net/protocol/pe/raknet/RaknetSentCustomPacket.java`

You forgot to write the `hasSplit` bit.

[2015-01-01 03:25] DefinitlyEvil commented on #121
@jython234 Do NOT use the info at wiki.vg, you have to look into pocketmine's code. 0x00, 0x40 and 0x60 are not true. And sequence number and message index are not the same layer of the protocol, they have their own meaning and use.

[2015-01-01 06:09] jython234 commented on #121
@DefinitlyEvil I would like an explanation on the encapsulation format,
also if you would like, I would like to create a new, updated protocol docs
page on wiki.vg.
On Wednesday, December 31, 2014, The Evil Man <notifications@github.com>
wrote:

--

[2015-01-01 08:08] DefinitlyEvil commented on #121
@jython234 We can make docs by reading into pocketmine raklib's code. I think we should update wiki.vg but how can we edit it?

[2015-01-01 08:29] Falkirks commented on #121
It's MediaWiki, just hit the edit button, you may want to make an account though.

[2015-01-01 08:31] DefinitlyEvil commented on #121
@Falkirks :O No need to be validated by admin?

[2015-01-01 08:43] PEMapModder commented on #121
@DefinitlyEvil do you know what is a wiki?

[2015-01-01 08:53] DefinitlyEvil commented on #121
@PEMapModder Yea, I know what a wiki is, but I just don't know the whole editing process. xD If anyone can edit, some bad people can put useless things in it.

[2015-01-01 17:14] jython234 commented on #121
@DefinitlyEvil I have had an account for quite some time, besides, who
would want to mess up a protocol wiki? Not many people know about too.

On Thursday, January 1, 2015, The Evil Man <notifications@github.com> wrote:

--

[2015-01-02 00:13] jython234 commented on #121
@DefinitlyEvil What timezone are you? Try to get on IRC as much as you can when free, you may be able to catch one of us.

[2015-01-02 03:51] DefinitlyEvil commented on #121
@jython234 Okay, I will.

[2015-01-02 05:55] jython234 commented on #121
@DefinitlyEvil as soon as you read this, try to get on irc. I will try to
stay on for a little bit.

On Thursday, January 1, 2015, The Evil Man <notifications@github.com> wrote:

--

[2015-01-03 02:16] jython234 commented on #123
@DefinitlyEvil I have a few questions on FullChunkDataPackets. I have looked at your code, and mine seems to be all in order (I have all fields, compressed, little endian etc..). However, my client still does not seem to accept my chunks. Using wireshark I discovered that you seem to split your packets into sizes around 1000 - 1400. However, when sending mine whole, they turn out to be in that ran

[2015-01-03 02:17] jython234 commented on #112
@PEMapModder I just realized that my encapsulation code is not correct. I still have much to learn...

[2015-01-03 02:29] jython234 commented on #123
@DefinitlyEvil https://github.com/jython234/MCBridge

[2015-01-03 03:29] PEMapModder commented on #123
@jython234 MTU

[2015-01-03 05:41] DefinitlyEvil commented on #123
@jython234 Yep, the client sends it's MTU when connecting. You should check each packet wether bigger than MTU, if yes, split it and use a new split ID. I hope my words can help you.

[2015-01-03 06:20] jython234 commented on #123
I understand, that's what I am doing. Did you look at my code?

On Friday, January 2, 2015, The Evil Man <notifications@github.com> wrote:

--

[2015-01-03 06:56] DefinitlyEvil commented on #123
@jython234 See you on the IRC.

[2015-01-03 07:13] DefinitlyEvil commented on #123
@jython234 You were not on the IRC, but I found some possible problems you may want to resolve. And let's discuss in your repo's issue, it's not about BlockServer. xD

[2015-01-03 17:23] jython234 commented on #123
@DefinitlyEvil I think I left a couple minutes before you joined xD.

[2015-01-08 15:42] #121 closed

[2015-01-09 23:49] jython234 opened #126 "Structure of Play Packets"
I have gotten a little confused over how to implement play packets after ClientHandshake. Or are play packets after FullChunkDataPacket(0xba)? I am not sure. Also, how does the Subprotocol, and the generic, and PeDataPacket all fit in?

[2015-01-10 03:55] PEMapModder commented on #126
When the client sends a packet about its protocol, the server should determine a compatible subprotocol (MCPE protocol version adapter) class for that protocol and instantiate a new object of that version, or disconnect the client for incompatible version on failure.
Assuming these all get implemented, this is how the server would handle:

[code]

[2015-01-10 17:30] jython234 commented on #126
I was a little unclear on how to implement play packets (for example
Ping/Pong). Should I extend PeDatPacket?

On Friday, January 9, 2015, PEMapModder <notifications@github.com> wrote:

--

[2015-01-11 10:37] DefinitlyEvil opened #127 "Duplicated Packets?"
If network lags, client can't get ACK packet, and packets are resent then server will receive duplicated packets. How do we solve this problem?

[2015-01-11 15:01] jython234 commented on #127
The client is only supposed to send missing packets when a NACK is recived,
I thought?

On Sunday, January 11, 2015, The Evil Man <notifications@github.com> wrote:

--

[2015-01-11 15:02] jython234 commented on #127
Also, once this happened with chat packets, it kept spamming forever. I
forgot wether it was the client or servers fault.

On Sunday, January 11, 2015, Alejandro Zeise <atzeise@gmail.com> wrote:

--

[2015-01-11 15:03] DefinitlyEvil commented on #127
Sometimes we got 2 or more but not spamming.

[2015-01-11 15:04] DefinitlyEvil commented on #127
Get on the IRC please. :)

[2015-01-11 15:20] jython234 commented on #127
I am on.

On Sunday, January 11, 2015, The Evil Man <notifications@github.com> wrote:

--

[2015-01-11 23:06] DefinitlyEvil commented on #127
XD You didn't reply to me. Antways, I studied RakNet a bit before, and client seems to resends packet if it got no ACK in few seconds. If network is bad, ACK may be dropped.

[2015-01-11 23:37] jython234 commented on #127
@DefinitlyEvil You were not on when I joined xD, I missed you by a few minutes.

[2015-01-11 23:38] jython234 commented on #126
@PEMapModder And also what package should I put these packets in, and how to use them?

[2015-01-12 09:33] DefinitlyEvil commented on #127
Wtf! xD

[2015-01-12 13:37] jython234 commented on #127
Lol.

On Monday, January 12, 2015, The Evil Man <notifications@github.com> wrote:

--

[2015-01-15 23:38] jython234 commented on #126
@PEMapModder There is a problem with the Subprotocols. How is the subprotocol supposed to send the response? The way it is structured makes it difficult, and I don't want to mess up your code. Please respond, I need an answer.

[2015-01-16 04:13] PEMapModder commented on #126
@jython234 can IRC?

[2015-01-16 05:27] PEMapModder commented on #126
Life cycle of a request and a response
[code]

[2015-01-16 05:29] AndreyNazarchuk commented on #126
The server has to go through all of this for every packet? Or just during
original handshake?
On Jan 15, 2015 9:27 PM, "PEMapModder" <notifications@github.com> wrote:

[2015-01-16 06:00] PEMapModder commented on #126
Do toy think we can simplify if we want to support any protocols? Actually this is not very complicated. It is just passing a variable through different objects, parse an encapsulated packet and convert and then convert an MCPE packet to an internal structure.
The above flowchart is a bit wrong. I will edit it.

[2015-01-16 06:05] PEMapModder commented on #126
Protocol => edition of Minecraft, e.g. MCPE
Subprotocol => protocol version of a certain edition of Minecraft, e.g. MCPE protocol #20

[2015-01-16 13:53] jython234 commented on #126
Ahh totally forgot about that request/response part. I will try and
implement ping/pong today. If I have time I will send dummy chunks too.

On Friday, January 16, 2015, PEMapModder <notifications@github.com> wrote:

--

[2015-01-16 13:55] jython234 commented on #126
@PEMapModder i went to sleep at my usual time yesterday, so I could not
irc. I might be able to today, and of course I'm on after school (way in
the morning for you).

On Friday, January 16, 2015, Alejandro Zeise <atzeise@gmail.com> wrote:

--

[2015-01-16 22:51] jython234 commented on #126
@PEMapModder I am still not clear, this structure is a bit confusing. First of all, how does the Subprotocol class get the right player to handle the request to? And, I assume that by "subprotocolsession" you mean "PeProtocolSession". If so, then where does PeSubprotocolGen come in? Very confused.

[2015-01-17 05:39] PEMapModder commented on #126
There is a `Map<SocketAddress, ProtocolSession>` in `ProtocolManager`. When a packet is received, it first checks if the incoming address is in the map. If true, the packet is passed into the corresponding `ProtocolSession` to be handled. Otherwise, it loops through the `Protocol`s in the manager and if a manager returns a `ProtocolSession` instance, it is inserted into the `Map`.

After a packet

[2015-01-17 05:40] PEMapModder commented on #126
Sorry there isn't something called SubprotocolSession. Me wrong

[2015-01-18 02:41] jython234 commented on #126
@PEMapModder But for sending the response, the SubprotocolV20 class doesnt have the address where the packet came from, so it's impossible to get the Player class to handle the request.

[2015-01-18 03:37] PEMapModder commented on #126
You should be able to get it from the ProtocolSession

[2015-01-19 13:52] jython234 commented on #126
The subprotocolV20 class doesn't have access to the specific session. And
it can't use that map because it doesn't know where the packet came from.

On Saturday, January 17, 2015, PEMapModder <notifications@github.com> wrote:

--

[2015-01-19 14:06] PEMapModder commented on #126
Hmm, right. Change `void Subprotocol.handleDataPacket(PeDataPacket)` return type to `InternalRequest`.

[2015-01-19 14:06] #126 closed

[2015-01-19 14:07] PEMapModder commented on #123
Is this fixed? If yes, close it.

[2015-01-19 14:07] PEMapModder commented on #127
Please close this issue if it has been fixed.

[2015-01-19 15:24] jython234 commented on #126
@PEMapModder Got it.

[2015-01-19 15:24] jython234 commented on #123
@PEMapModder Not sure, I'll let @DefinitlyEvil close this.

[2015-01-19 15:25] jython234 commented on #127
@PEMapModder This has not been fixed.

[2015-01-19 15:54] DefinitlyEvil commented on #123
Okay. :)

[2015-01-19 15:54] #123 closed

[2015-01-19 23:30] jython234 opened #128 "Null Packets?"
Hello everyone

I have discovered that we have a problem with sending custom packets. It appears that we send some "null" packets which have a bunch of null bytes in them. I have some proof here (wireshark dump) that you guys can look at: https://drive.google.com/file/d/0B-XjWjitgIiySXo0TjFLdkFRMzA/view?usp=sharing

Also, It appears that our StartGamePacket encoding also ends up full of "null byte

[2015-01-24 20:07] jython234 opened #129 "API Structure"
We decided #118. Now it is time to straighten out the structure of the API. First of all, does blockserver implement an API loader? Or is PocketBukkit just a fork of BlockServer with API support? I propose we implement a simple API loader to load PocketBukkit's JAR. Then, we can pass important instances to PocketBukkit, along with events, so it can do the handling. Any other ideas?

[2015-01-24 20:14] #128 closed

[2015-01-25 02:41] PEMapModder commented on #129
I suggest that PocketBukkit loads BlockServer and passes an `API` instance instead, where this `API` is an interface with methods like:

[code]

Then BlockServer calls these methods, PocketBukkit will pass this to different plugins, plugins can modify the cancelled state and the arguments, then BlockServer can check the values.

===
The above is my proposal.

[2015-01-25 02:44] PEMapModder commented on #129
@jython234 don't label everything you want as "high priority". We haven't even finished the networking part, how could this be "high priority"?

[2015-01-25 02:47] PEMapModder opened #130 "Potential Hacker Vulnerability"
Hackers can crash the network bridge by sending underflow packets, leading to `BufferUnderflowException`being thrown and not caught.
Can be easily fixed.
This issue serves as a reminder that we should check when networking part is completed.

[2015-01-25 03:09] 64FF00 commented on #130
:+1:

[2015-01-25 18:13] jython234 commented on #129
@PEMapModder Sorry. Do you mean that BlockServer loads PocketBukkit?

[2015-01-25 18:18] jython234 opened #131 "Chunk Sending"
First of all, let's get this Chunk Sending problem fixed. I have no idea what is wrong, I even used the code from the old branch which did work, and it didn't work here. If anyone has information about it, please comment here.

##### Note to @PEMapModder: This is truly High Priority.

[2015-01-26 09:35] PEMapModder commented on #129
No. I meant the starter of PocketBukkit loads BlockServer, then objects PocketBukkit into BlockServer.

[2015-01-26 09:35] PEMapModder commented on #131
Yes I know it is this time :D

[2015-01-26 13:45] jython234 commented on #131
:)

[2015-01-26 13:46] jython234 commented on #129
Ahh using the server builder? Also I was wondering wether to rewrite
pocketbukkit, or leave it the way it is.

On Monday, January 26, 2015, PEMapModder <notifications@github.com> wrote:

--

[2015-01-30 13:45] jython234 commented on #131
@DefinitlyEvil

On Monday, January 26, 2015, PEMapModder <notifications@github.com> wrote:

--

[2015-01-31 04:53] DefinitlyEvil commented on #131
@jython234
in DummyChunk class:
[code]
The problem is you forgot to generate a layer of blocks.
[code]
where 127 should be 128.

[2015-01-31 16:04] jython234 commented on #131
@DefinitlyEvil I generate a block of grass before that loop, the is why it
is 127. I think there may be a flaw with our encapsulation. @PEMapModder we
need split support.

On Friday, January 30, 2015, The Evil Man <notifications@github.com> wrote:

--

[2015-02-01 03:10] DefinitlyEvil commented on #131
@jython234 Just grab the code from Dragonet, I gave that project to TheMCPEGamer.

[2015-02-01 03:50] jython234 commented on #131
@DefinitlyEvil I tried that with mcbridge and it didn't work.

On Saturday, January 31, 2015, The Evil Man <notifications@github.com>
wrote:

--

[2015-02-01 16:59] DefinitlyEvil commented on #131
@jython234 Maybe the bridge thing has some problem.

[2015-02-05 13:41] jython234 commented on #131
@DefinitlyEvil the minimum amount of chunks to be sent before spawning is
49(7x7) or 56(7x8)?

On Sunday, February 1, 2015, The Evil Man <notifications@github.com> wrote:

--

[2015-02-09 09:49] DefinitlyEvil commented on #131
@jython234 Just more than 56 is good. :)

[2015-02-09 13:41] jython234 commented on #131
Alright, thought it was 49 xD.

On Monday, February 9, 2015, The Evil Man <notifications@github.com> wrote:

--

[2015-02-09 15:43] DefinitlyEvil commented on #131
@jython234 Better use 8x8.

[2015-02-09 15:44] jython234 commented on #131
@DefinitlyEvil Alright, If you can get on IRC.

[2015-02-12 22:46] jython234 commented on #131
Well, the problem is most likely our packet format... The client must not like something inside the chunk packets, because if they were fine, it would display the "building terrain" screen.

[2015-02-14 13:45] DefinitlyEvil commented on #131
@jython234 The progress bar only grows when a valid chunk sent.

[2015-02-14 15:13] InusualZ commented on #131
You should check this: https://github.com/NiclasOlofsson/MiNET

[2015-02-14 16:34] jython234 commented on #131
@InusualZ already did.

On Saturday, February 14, 2015, InusualZ <notifications@github.com> wrote:

--

[2015-02-16 06:36] DefinitlyEvil commented on #131
@jython234 Maybe the InternalPacket thing cuased some packet format issue.

[2015-02-16 13:38] jython234 commented on #131
I'm pretty sure not. That code looks correct. Or maybe we need to separate
the packets? Idk.

On Monday, February 16, 2015, The Evil Man <notifications@github.com> wrote:

--

[2015-02-17 15:26] jython234 commented on #131
@DefinitlyEvil Everything looks right...

[2015-02-19 14:54] jython234 commented on #120
@BlockServerProject/developers I want everyone on this Saturday (10-12 CST(UTC -6)). We need to pull this project back together.

[2015-02-20 02:48] PEMapModder commented on #120
Please convert to UTC.

[2015-02-20 13:10] optrusty commented on #120
Time converted http://bit.ly/1F2rqYx

[2015-02-20 13:30] PEMapModder commented on #120
Wt* it is sleeping time for me, I'm not available.

[2015-02-20 14:46] jython234 commented on #120
@PEMapModder  It is actually 22-24 in 24 hour time. UTC-6. You must of thought it was AM.

[2015-02-20 14:47] PEMapModder commented on #120
@optrusty's link, blame him :P

[2015-02-20 14:49] jython234 commented on #120
@PEMapModder Acutally 4-6 AM in UTC :)

[2015-02-20 17:04] DefinitlyEvil commented on #131
@jython234 I have totally no idea now. Everythinkg looks right as you said.

[2015-02-20 19:14] optrusty commented on #120
@PEMapModder I am not Father Time

[2015-02-24 13:46] jython234 commented on #131
@DefinitlyEvil maybe it's one of the packets before the chunks.

On Friday, February 20, 2015, The Evil Man <notifications@github.com> wrote:

--

[2015-02-24 13:47] jython234 commented on #131
Also, something strange happens: after all the chunks are sent the client
keeps sending pongs to me, and their ACK packets have the sequence number
way lower than our counter. It's like it doesn't even care about the custom
packets with chunks.

On Tuesday, February 24, 2015, Alejandro Zeise <atzeise@gmail.com> wrote:

--

[2015-02-24 15:26] jython234 opened #133 "TODO: Priorities"
## Priorities List

**Note:** If you want to modify this list, please edit my comment here, and **comment below with your revisions**. Thank you.

- [ ] Chunk Sending (**HIGH PRIORITY**, #131 )
- [ ] Internal API -> Connection with PB (**NORMAL PRIORITY**, #129 )
- [ ]  Chat Support (**NORMAL PRIORITY**)

[2015-02-24 15:41] Falkirks commented on #133
This looks good. I modified your post to make it more readable.

[2015-02-24 15:44] jython234 commented on #133
@Falkirks thank you. I was in a hurry, and I'm not the best with markdown :).

[2015-02-24 16:22] PEMapModder commented on #133
Chat support revision: low :arrow_right: normal priority
Also, I self-assign chat, after chat data packets can be received.

[2015-02-24 20:35] jython234 commented on #133
@PEMapModder, meh not happening xD. (Chat packets)

On Tuesday, February 24, 2015, PEMapModder <notifications@github.com> wrote:

--

[2015-02-25 15:41] jython234 commented on #112
Hey everyone,

I have a goal for all of us to work on. Since we are pretty close to finishing our TODO for beta 1.0, I would like us to at least release this version before December this year. Yes, you may say "what type of goal is this?", but we still have some hard things to finish (chunk sending).

We can also raise or lower the goal too.

Thank you,
- jython234

[2015-02-25 15:43] jython234 commented on #112
Also, In order to complete some other things (chat support), we could use my own MCPE client here: https://github.com/jython234/MagicClient. This is primarily because we can't get the vanilla client to work with our chunk packets. So we can use this client to test chat and other things.

[2015-02-25 22:34] jython234 opened #134 "Builds Deployment"
Hey everyone,

In order for people to use BlockServer, they need to set it up. Now, for us, it's easy. But, for the average server owner, it may be hard. So, I have came up with a plan. We could create two installers (One Shell/Java for linux/mac, One in Visual C# for windows). Each would download the latest build from our build server, or compile it itself. The program would be completely automat

[2015-02-25 22:42] AndreyNazarchuk commented on #134
A zip would be OK also, if that is easier.
On Feb 25, 2015 2:34 PM, "jython234" <notifications@github.com> wrote:

[2015-02-25 23:21] PEMapModder commented on #134
There is `iexpress` in Windows, see if it helps.

[2015-02-25 23:24] PEMapModder commented on #134
Actually we can also make a jar executable, and that should not be too hard to run for the users.

[2015-02-26 00:07] jython234 commented on #134
Maven does that already, the catch is our dependency jars. Maven shade
plugin might help.

On Wednesday, February 25, 2015, PEMapModder <notifications@github.com>
wrote:

--

[2015-02-26 00:07] jython234 commented on #134
And I've used iexpress I think.

On Wednesday, February 25, 2015, PEMapModder <notifications@github.com>
wrote:

--

[2015-02-26 13:37] jython234 commented on #134
Apparently iexpress doesn't like jars xD.

On Wednesday, February 25, 2015, Alejandro Zeise <atzeise@gmail.com> wrote:

--

[2015-02-26 13:46] PEMapModder commented on #134
We should work on BlockServer-Runner.

[2015-02-26 18:09] jython234 commented on #134
Meh.

On Thursday, February 26, 2015, PEMapModder <notifications@github.com>
wrote:

--

[2015-02-27 13:37] jython234 commented on #134
Isn't BlockServer runner the GUI?

On Thursday, February 26, 2015, Alejandro Zeise <atzeise@gmail.com> wrote:

--

[2015-02-27 14:22] PEMapModder commented on #134
I mean, make the installer for the runner, not the source. People who don't know how to install find running on console annoying too.

[2015-02-27 14:47] AndreyNazarchuk commented on #134
Can you make a console option also, if not separate from then at least
inside the gui? Some people are used to consoles.
On Feb 27, 2015 6:22 AM, "PEMapModder" <notifications@github.com> wrote:

[2015-02-27 15:33] jython234 commented on #134
@AndreyNazarchuk This repo is the console version :)

[2015-02-27 16:13] PEMapModder commented on #134
@AndreyNazarchuk even if we have the GUI, it's still console based

Also, @jython234 we may want to have a part of API that is about GUI.

[2015-02-27 17:13] jython234 commented on #134
As for the build server, I was thinking of using a BlockServer module for
the server.

On Friday, February 27, 2015, PEMapModder <notifications@github.com> wrote:

--

[2015-03-06 01:31] optrusty commented on #134
@jython234 @PEMapModder I don't get what so important about a GUI. We know that a previous server owner has used PocketMine and pocketmine doesnt have a GUI. Unless the console is different.

[2015-03-06 01:32] AndreyNazarchuk commented on #134
Honestly, if they can't use a console, they should ask around or just not
run a server.
On Mar 5, 2015 5:31 PM, "optrusty" <notifications@github.com> wrote:

[2015-03-06 01:47] jython234 commented on #134
@AndreyNazarchuk I agree xD.

[2015-03-06 01:50] optrusty commented on #134
@jython234 IRC?

[2015-03-06 02:24] jython234 commented on #134
http://builds.blockserver.org or http://teamcity.beaconpe.net
Build Server is now set up. Please create an account there, or just check it out.

[2015-03-06 02:24] #134 closed

[2015-03-06 02:29] AndreyNazarchuk commented on #134
Made an account, but what is it for? Sorry, I am a Java noob, still
learning.
On Mar 5, 2015 6:24 PM, "jython234" <notifications@github.com> wrote:

[2015-03-06 02:38] jython234 commented on #134
@AndreyNazarchuk Just to be notified on builds and other things. Much to discover. You can download the latest builds from the project page.

[2015-03-06 09:37] PEMapModder commented on #134
Actually, if they don't know how to use it, they can just make a new server software or not to use it. Why help them?

We are here to ease using our software and provide convenience. Who likes using console if there is a GUI?

The advantage of GUI is the ease to read and control. If you don't understand, just host a production PocketMine server yourself with more plugins and you'll understand.

[2015-03-06 13:22] optrusty commented on #134
@PEMapModder But is it really necessary for a GUI right now? Getting the main project done is more important

[2015-03-06 13:24] PEMapModder commented on #134
@optrusty no. But I would work on it when I get bores.

[2015-03-06 13:28] optrusty commented on #134
@PEMapModder lol... I'm on IRC you want to talk about there

[2015-03-06 13:43] jython234 commented on #134
@PEMapModder, @optrusty you should check out http:/:builds.blockserver.org

On Friday, March 6, 2015, optrusty <notifications@github.com> wrote:

--

[2015-03-06 14:33] optrusty commented on #134
@jython234 Which file do I download BlockServer-1.0.0-BETA-SNAPSHOT.jar (127.19 KB)
BlockServer-IO-Lib-0.0-BETA-SNAPSHOT.jar (42.68 KB)
commons-lang3-3.3.2.jar (403.06 KB)
guava-16.0.1.jar (2.12 MB)
leveldb-0.8-SNAPSHOT.jar (228.85 KB)
leveldb-api-0.8-SNAPSHOT.jar (9.17 KB)
log4j-api-2.0-rc1.jar (113.48 KB)
log4j-core-2.0-rc1.jar (686.19 KB)
snakeyaml-1.14.jar (268.66 KB)

[2015-03-06 15:19] jython234 commented on #134
It's a little complicated. You need BlockServer-1.0.0-BETA-SNAPSHOT.jar in
a folder. Then create another folder called "lib" place the rest of the
jars in it. Then launch the BlockServer jar and see if it works.

On Friday, March 6, 2015, optrusty <notifications@github.com> wrote:

--

[2015-03-07 16:33] PEMapModder opened #135 "Use PositionInteger for integral positions"
It is neither correct nor efficient to use `PositionDoublePrecision` for integral positions. In Java, `int`s should not be mixed with `double`s as they will remain in double form forever, and also possible precision issues. It is also faster to use ints directly, especially during heavy procedures like world generation and chunk handling.

[2015-03-07 18:58] jython234 commented on #135
@PEMapModder Use double precision for only player positions, and int for the rest.

[2015-03-08 03:09] PEMapModder commented on #135
So change that for things like blocks.

[2015-03-18 18:20] jython234 commented on #120
My timezone is GMT -6, just to let everyone know. We need to try to meet more often.

[2015-03-31 01:20] #129 closed

[2015-03-31 01:32] AndreyNazarchuk commented on #129
Will there be a RubberBand type feature or plugin?
On Mar 30, 2015 6:21 PM, "jython234" <notifications@github.com> wrote:

[2015-03-31 01:33] jython234 commented on #129
@AndreyNazarchuk https://github.com/jython234/BouncyBall.

[2015-03-31 02:38] AndreyNazarchuk commented on #129
Yay! I like the name lol.
On Mar 30, 2015 6:33 PM, "jython234" <notifications@github.com> wrote:

[2015-03-31 02:45] AndreyNazarchuk commented on #129
Does this work yet?
On Mar 30, 2015 7:38 PM, "Andrey Nazarchuk" <andynazay153@gmail.com> wrote:

[2015-03-31 14:28] jython234 commented on #129
Yes, it doesn't support multiple servers yet. I will upload some
instructions to set it up.

On Monday, March 30, 2015, Andrey Nazarchuk <notifications@github.com>
wrote:

--

[2015-03-31 17:05] AndreyNazarchuk commented on #129
OK, thanks

On Tue, Mar 31, 2015 at 7:28 AM, jython234 <notifications@github.com> wrote:

[2015-04-01 01:43] jython234 commented on #129
@AndreyNazarchuk: https://github.com/jython234/BouncyBall/blob/master/README.md

[2015-04-02 00:27] jython234 opened #136 "Client Ignores Chunk Packets"
The Client appears to seem to ignore chunk packets. After all packets are sent, the client keeps sending it's ping/pong as usual, but with different sequence numbers! For example, the last chunk packet's sequence number is 31, but the client responds with a 0x00 PING with a sequence number of 3! However, the client does ACK the chunk packets with the correct sequence numbers, but doesn't seem to s

[2015-04-02 00:29] #133 closed

[2015-04-11 07:19] PEMapModder opened #137 "Some branch changes"
The `master` branch has just been renamed to `old`, and the `new` branch has been copied to `master` branch. The default branch ahs been set to `master` as well. The `new` branch shall be deleted in about one week to fully execute the branch renaming, so please update your local clones of this branch.

A possible way to adapt to the new changes:
[code]

If it doesn't work, please remove the direct

[2015-04-11 07:21] PEMapModder commented on #137
Also, the default branch has been set to `master`.

[2015-04-11 08:26] PEMapModder opened #138 "Spawn position"
There seems to be some issues with the spawn. Is it the chunk position or the coordinates? Because the object was passed to the constructor of `Chunk` directly, which is incorrect.

[2015-04-11 08:28] PEMapModder commented on #138
And what is the point of having a `LevelManager` if there is only one level?

[2015-04-11 14:52] jython234 commented on #138
Good question actually. I believe it is the coordinates. Also that level
manager is for when we support multiple levels, and for different types
(level db, anvil, etc).

On Saturday, April 11, 2015, PEMapModder <notifications@github.com> wrote:

--

[2015-04-11 14:53] jython234 commented on #137
Good job.

On Saturday, April 11, 2015, PEMapModder <notifications@github.com> wrote:

--

[2015-04-11 14:58] PEMapModder commented on #138
I think I fixed it.
Also, don't mix up int and doubles. That can lead to terrible results.
And make another class for ChunkPosition! (I already did) We want memory optimization.

[2015-04-11 14:58] #138 closed

[2015-04-11 15:12] jython234 commented on #138
got it. I was unaware that you commited recently, I'll go check it out.

On Saturday, April 11, 2015, PEMapModder <notifications@github.com> wrote:

--

[2015-04-11 15:42] jython234 commented on #136
Same happens with message index.

[2015-04-11 15:43] jython234 commented on #136
I assume our encapsulation implementation is incorrect, as this problem happens in my other projects also(such as BouncyBall).

[2015-04-20 06:47] EnderBrine101 opened #139 "Do some work :)"
You wonder why BlockServer is becoming dead...try commiting a bit morr and advertise the software on other websites.

[2015-04-20 08:18] PEMapModder commented on #139
Because we the main developers don't have time, and we already advertized but nobody is concerned about a project that isn't finished.

[2015-04-20 08:18] #139 closed

[2015-04-20 12:48] jython234 commented on #139
BlockServer isn't dead, it's just that we are overwhelmed with school, and
other projects. I hope to get development up during the summer.

On Monday, April 20, 2015, PEMapModder <notifications@github.com> wrote:

--

[2015-04-20 16:46] PEMapModder commented on #139
I hope to finish all my projects that I am in charge of / being the main developer before September. I need to concentrate at school with HKDSE coming in 2017; I can't spend al my time here then, so I'll no longer be this active after this summer.

[2015-04-20 17:00] EnderBrine101 commented on #139
@PEMapModder 2 things. #1: Thats alright. School id always more important :) #2: this is not a forum!

[2015-04-20 21:42] AndreyNazarchuk commented on #139
Then you started this issue so no one would reply?
On Apr 20, 2015 10:00 AM, "EnderBrine101" <notifications@github.com> wrote:

[2015-04-20 22:33] EnderBrine101 commented on #139
I was referencing what PEMapModder was telling me about this is not a forum.

[2015-04-20 23:17] AndreyNazarchuk commented on #139
In your own post?
On Apr 20, 2015 3:33 PM, "EnderBrine101" <notifications@github.com> wrote:

[2015-04-21 08:00] PEMapModder commented on #139
@EnderBrine101 I am commenting here to acknowledge that the schedule needs to be altered.

[2015-05-10 19:39] Addison118 commented on #136
Test

[2015-05-10 22:35] jython234 commented on #137
I think everyone is aware of this by now.

[2015-05-10 22:35] #137 closed

[2015-06-01 02:06] jython234 opened #143 "NACK: client sends NACK for no apparent reason"
### On branch ```network```

The client sends NACK packets after the server responds with a PlayStatusPacket. The sequence number is 3, but the client NACK's sequences are 1-2 which turn out to have been sent by the client itself.

### Dump can be found [here.](https://drive.google.com/file/d/0B-XjWjitgIiyaW14aVRGQUxxVlk/view?usp=sharing)

[2015-06-01 02:07] jython234 commented on #143
Part of #140.

[2015-06-01 02:10] jython234 commented on #127
@DefinitlyEvil @PEMapModder I don't think this issue IS fixable.

[2015-06-01 08:18] DefinitlyEvil commented on #127
Well, Shoghi fixed this.

[2015-06-01 12:22] jython234 commented on #127
I guess you could check each packet buffer and see if it was sent a few
seconds ago.

On Monday, June 1, 2015, The Evil Man <notifications@github.com> wrote:

--

[2015-06-01 13:32] DefinitlyEvil commented on #127
@jython234 Don't! It will cost too much extra un-needed CPU time.

[2015-06-01 15:31] jython234 commented on #127
I know, that's why I nebver implemented that.

On Monday, June 1, 2015, The Evil Man <notifications@github.com> wrote:

--

[2015-06-01 22:12] jython234 commented on #143
Fixed by 8436748

[2015-06-01 22:12] #143 closed

[2015-06-01 23:09] #136 closed

[2015-06-01 23:09] #131 closed

[2015-06-01 23:11] jython234 opened #144 "0.10.4 Client crashes on receiving chunks."
### On branch ```network```

The client crashes when receiving chunks on iOS. The app closes down, and you are sent to the home screen. I have reproduced this issue multiple times. Note: not tested on android.

On 0.11.0 (android) the client just is stuck at the "locating server screen". It does not crash.

[2015-06-13 18:39] jython234 commented on #144
Not really an issue anymore.

[2015-06-13 18:39] #144 closed

[2015-06-13 18:40] jython234 commented on #127
@DefinitlyEvil Of course! We check the sequence number against our lastSeqNum and figure out if it's a duplicate. I think I saw something like that when I was porting RakLib to Python (Took one week!)

[2015-06-14 01:18] DefinitlyEvil commented on #127
@jython234 What of the number is the packet which was lost during transmission?

[2015-06-14 01:31] jython234 commented on #127
Nvm.

On Saturday, June 13, 2015, The Evil Man <notifications@github.com> wrote:

--

[2015-08-03 17:24] jython234 commented on #127
Port of RakLib (JRakLib) will solve this problem: #146

[2015-08-03 17:24] #127 closed

[2015-08-03 23:59] DefinitlyEvil commented on #127
@jython234 Could you please make a document for how to use it? :3

[2015-08-04 00:41] jython234 commented on #127
@DefinitlyEvil I am assuming you would like to use it for Dragonet? I created a getting started guide on the library's wiki (https://github.com/BlockServerProject/JRakLib/wiki/Getting%20Started) and you can find the javadoc here: http://blockserverproject.github.io/JRakLib/. It may be a bit vague,  so if you have any problems setting up feel free to email me at jython234@gmail.com

[2015-08-04 05:52] DefinitlyEvil commented on #127
@jython234 Thank you so much man! :D You're awesome!

[2015-08-04 13:59] jython234 commented on #127
No problem!

On Tuesday, August 4, 2015, The Evil Man <notifications@github.com> wrote:

--

[2015-08-20 18:21] jython234 commented on #112
@PEMapModder What happened to console reading?

[2015-08-21 03:32] PEMapModder commented on #112
@jython234 what's wrong?

[2015-08-25 14:12] optrusty commented on #112
Hey anyone notice the domain is not resolving

[2015-08-25 14:14] jython234 commented on #112
Irc

[2015-08-25 14:23] optrusty commented on #112
k

[2015-12-08 01:23] #135 closed

[2015-12-08 01:24] #130 closed

[2015-12-08 01:24] #120 closed

[2015-12-08 01:24] #118 closed

[2015-12-08 01:24] #112 closed

[2015-12-10 16:40] Exerosis opened #147 "Event Organization"
Are we splitting events into a module?(Probably a good idea)
If so how do we handle ModuleEnableEvent?

[2015-12-10 16:45] Exerosis opened #148 "Project Organization"
How should we organize all the parts of our server?https://github.com/BlockServerProject/BlockServer/commit/f0a76e8a64bec6b16d0255e2c5b2edfcd2142d23
~ I split it into implmention and core but its not perfect.

[2015-12-10 16:46] PEMapModder commented on #148
Can you elaborate more?

[2015-12-10 16:53] Exerosis commented on #148
Sure, we have our modules, events, and loaders, as well as the abstract classes and interfaces they extend. Along with that we have the actual event system and the server. I just wanted to see how you guys wanted it organized and seperated.

[2015-12-10 16:55] PEMapModder commented on #148
I don't see that necessary for this project.

[2015-12-10 17:00] Exerosis opened #149 "Messages & Modules"
The time has come to begin creating actual messages and modules! YAY! But first we need to think over a few things.

1. What are all the differences between PE, and PC?
2. Given that messages are sort of like global(PE/PC) packets, which ones do we need? eg. LoginMessage, BlockPlaceMessage. We need to cross reference the protocol pages(http://wiki.vg/Pocket_Minecraft_Protocol, http://wiki.vg/Proto

[2015-12-10 17:03] Exerosis opened #150 "Documentation"
Could somebody start writing up a simple documention on the Git Wiki?
Could somebody write up an outline of what the new BlockServer is, and how interested devs can help? As well as a short tutorial on Modules(I should probs do that)

In a few weeks I will create a new issue asking for devs to begin drumming up support for BS so that we can get some testers when we need them.

Keep in mind, when s

[2015-12-10 17:54] Exerosis opened #151 "Game Plan & Meetings"
In general, we need a good full outline of each of things we need, that way we can avoid micro managing eachother too much x)

Also is anyone opposed to full meetings twice/once a week? With every dev?

[2015-12-10 19:41] Exerosis commented on #148
Lol, why not? Its quite a large project. If we left it a jumble nobody would dev for it x)

[2015-12-10 19:50] Exerosis opened #152 "Goal ~ Networking Complete"
Finish the networking framework and the PC and PE implmentations.

[2015-12-10 20:01] Exerosis opened #153 "Goal ~ Messages Outlined"
Outline all the messages like so:

In
     BlockPlaceMessage
        PE: PlaceBlockPacket (0x95)
        PC: PlayerBlockPlacement(0x08)

Might sound easy, but after you take a look you will find it very difficult, remeber that some logic can be involved. For example, the MessageBlockRemoved will be a BlockRemovedPacket on PE, and for PC it will be a BlockChangePacket with the value of air.(just an

[2015-12-10 20:06] Exerosis opened #154 "Goal ~ Modules Outlined"
We need to begin outlining what modules we will need, and what they will do.

For example:
     TimeModule
         Handles time change for the server and all time related events(may be sub modulized)

But first https://github.com/BlockServerProject/BlockServer/issues/153 must be finished.

[2015-12-10 20:11] Exerosis opened #155 "Organization Cleanup"
The Organization's repos should be cleaned up and trimmed down a bit, maybe shift some of the older ones out of here.

[2015-12-10 20:46] InusualZ commented on #153
wiki.vg of PE is outdated

[2015-12-10 21:52] jython234 commented on #153
@Exerosis that doesn't matter, leave the translations to the converters

[2015-12-10 21:52] jython234 commented on #147
No events are not modules. We can have an event module that manages and
fires them though.
On Dec 10, 2015 10:40 AM, "Exerosis" <notifications@github.com> wrote:

[2015-12-10 22:41] Exerosis commented on #147
Lol thats what I meant. But how can we fire ModuleEnableEvent if the event
Module is a module on it's own?

On Thu, Dec 10, 2015, 4:52 PM jython234 <notifications@github.com> wrote:

[2015-12-10 22:43] Exerosis commented on #153
What do you mean? Lol the converters need to be made and I promise you need
an outline.  Also is there a new wiki.vg

On Thu, Dec 10, 2015, 4:52 PM jython234 <notifications@github.com> wrote:

[2015-12-10 23:09] jython234 commented on #148
@Exerosis I think you misunderstand, there is no "implementation", the core itself is the implementation. It's up to external modules to add PE and PC support.

[2015-12-10 23:09] jython234 commented on #147
@Exerosis didn't think of that.

[2015-12-10 23:10] jython234 commented on #153
@Exerosis the message names don't matter, name them of what they represent such as BlockPlaceMessage for placing a block.

[2015-12-10 23:38] Exerosis commented on #153
Yea IK... but what happens when somebody does networkmodule.sendMessage(blockPlaceMessage)? obviously that need to be turned into a packet for PC and a packet for PE... IK those packets AREN"T the same... so what about the packets that PE doesn't even have? or PC doesn't even have?

[2015-12-10 23:41] Exerosis commented on #148
Well... for now maybe... eventually we need to split it up way more then it is now. So that if somebody wanted they could launch the server with nothing but TaskModule, NetworkModule, and ServerListModule.

[2015-12-10 23:51] PEMapModder commented on #148
I know, but it looks fine right now, doesn't it?

[2015-12-11 00:03] PEMapModder commented on #147
Isn't `API.on***()` ok?

[2015-12-11 00:04] PEMapModder commented on #153
That's why the request/response system is good ;)

[2015-12-11 00:46] Exerosis commented on #153
I'm so confused... as far as IK there is ONLY one way to get info to clients :|

[2015-12-11 00:46] Exerosis commented on #147
We don't even have an API x) We dont rly need one

[2015-12-11 01:11] jython234 commented on #153
You still don't get it, message names do not matter! The converter checks
what instance of message it is and translates it. If there are no packets
for it, it is dropped.

On Thursday, December 10, 2015, Exerosis <notifications@github.com> wrote:

--

[2015-12-11 02:34] Exerosis commented on #153
WTF????? I mean what message classes will we have??

[2015-12-11 08:28] PEMapModder commented on #153
@jython234 a message refers to a type of info, which will be converted into PE/PC protocol when being sent. Correct?

[2015-12-11 08:28] PEMapModder commented on #147
@Exerosis I meant like in old BlockServer

[2015-12-11 11:58] Exerosis commented on #153
I thought they where kind of like packets but instead of being sent they
are converted.  So they have all the fields a packet might but nice getters
and setter etc.

On Fri, Dec 11, 2015, 3:28 AM PEMapModder <notifications@github.com> wrote:

[2015-12-11 13:34] PEMapModder commented on #153
Yep

[2015-12-12 19:42] Exerosis commented on #153
@jython234 You keep saying we don't need to figure out what messages corrospond to what packets, but I just don't get it. Somehow the message has to turn into both a PC and PE raw packet and be sent. And in some cases it takes two packets to do something on PC that one packet can do in PE... what about when that happens?

[2015-12-13 04:09] jython234 commented on #153
The system is that the converter can return a list of packets per message. Look at RL if you don't understand, the message system is almost the same thing as the networking there.

[2015-12-13 05:27] Exerosis commented on #153
@jython234 *sigh* IK... but we need to figure out and write down what those packets that it returns will be... that way we have a plan... and can give parts of the document to other devs to handle without problems.

[2015-12-13 06:36] PEMapModder commented on #153
You mean that we need to extract protocol information? I don't think we're having a big problem with that.

[2015-12-13 06:41] Exerosis commented on #153
How am I so bad at explaining this x)
Message A is converted to pc Packet B and pe Packet C...
We need a document that says what A B and C are.

On Sun, Dec 13, 2015, 1:36 AM PEMapModder <notifications@github.com> wrote:

[2015-12-13 06:45] PEMapModder commented on #153
Do you mean docs on how to exchange, in terms of the API or the implementation?

[2015-12-13 12:42] Exerosis commented on #153
;( there is no API ;( ;( ;( ;(

[2015-12-13 12:54] PEMapModder commented on #153
No, by API I mean the internal methods.

[2015-12-13 12:55] Exerosis commented on #153
Oh ok, well what I mean... is a document... that lists the MessageName(class) and the two(or more) corrisponding packets.

[2015-12-13 13:06] PEMapModder commented on #153
You mean protocol documentation right? Well, there isn't, we will put them into code directly when we figure them out.

[2015-12-13 13:12] PEMapModder commented on #153
I suggested a concept of Protocol Documentation Format (PRDF), which is a file, in similar syntax to `.htaccess`, declaring packets and gets loaded by a server.

[2015-12-13 13:20] Exerosis commented on #153
ERMMMMM I think I like that idea?

[2015-12-13 13:23] Exerosis commented on #153
Hummm IDK that it would work out tho ;( we will see.. but either way... for now we need a document that would let us hand off the creation of 5 or 10 of the packets to other devs without explaing the whole opperation... and that invloves lookng at both documentations... and deciding what messages we will have and what not...

[2015-12-13 14:08] PEMapModder commented on #153
And that document can be in PRDF :) if we are planning to implement such thing, of course. Something like this. https://github.com/RedstoneLamp/RedstoneLamp/blob/npd/src/main/resources/protocol/example-protocol.npd

[2015-12-13 14:19] Exerosis commented on #153
TBH that confuses me a tiny bit but either way we do need an outline or at
least a list of every message we plan to implement and what fields they
will have.

On Sun, Dec 13, 2015 at 9:08 AM PEMapModder <notifications@github.com>
wrote:

[2015-12-13 15:00] Exerosis commented on #153
*sigh* lol look... if somebody makes a a list of each module we need... and what fields it has... or at leaset the list... I could quickly create a message higherarchy and then begin work on the core modules.

[2015-12-13 17:14] jython234 commented on #153
@Exerosis I made the messages as I went implementing packets, in RL.

[2015-12-30 22:28] Exerosis commented on #154
Done!

[2015-12-30 22:28] #154 closed

[2016-02-20 23:36] jython234 opened #159 "CPU Usage"
Running on an intel i5 processor, I am noticing constant 60-70% CPU usage by the server.

[2016-02-21 03:28] Exerosis commented on #159
OMG rly?? I will check that out right way(I think IK what it is tho).

[2016-02-21 19:27] #155 closed

[2016-02-21 19:29] jython234 commented on #148
I think this is settled.

[2016-02-21 19:29] #148 closed

[2016-03-13 19:50] RealIronDev commented on #147
@jython234 I know this is kind of offtopic but how is it?
![logo](https://cloud.githubusercontent.com/assets/8142960/13730907/44f744ee-e933-11e5-9371-306847f54a1a.png)

[2016-04-16 20:49] #159 closed